<%- include('../layout/header') %>
  <div class="bg-slate-950 text-white">
    <nav class="flex items-center justify-between p-10 sticky top-0 bg-slate-950">
      <div>Logo</div>
      <div>Avatar of the user</div>
    </nav>
    <div class="flex justify-center pt-20">
      <h1 class="text-2xl font-bold font-quicksand">Updates</h1>
    </div>
    <div class="space-y-2 pb-16 pt-12 px-5">
      <% updatesDatas.forEach(updatesData => { %>
        <div class="flex justify-center">
          <div class="max-w-6xl w-full rounded-2xl bg-slate-800 p-6 pt-8">
            <h2 class="text-xl font-bold"><%= updatesData._id %></h2>
            <!-- Each will be here -->
            <% updatesData.updates.forEach(update => { %> 
              <p class="text-md font-semibold pt-2"><%= update.description %></p>
              <ul class="list-inside pl-2 list-disc space-y-2 pt-2 font-mono font-semibold">
                <li>What: <%= update.what %></li>
                <li>Why: <%= update.why %></li>
                <% if (update.changes && update.changes.length > 0) { %>
                  <li>
                    Changes:
                    <ol class="mt-2 list-inside space-y-1 ps-5 [list-style-type:_circle]">
                      <% update.changes.forEach(change => { %>
                        <li>
                          <%= change %>
                        </li>
                      <% }) %>
                    </ol>
                  </li>
                <% } %>
                <!-- Check if exist? -->
                <% if (update.newPackages.length > 0) { %>
                  <li>
                    Added Packages:
                    <ol class="mt-2 list-inside space-y-1 ps-5 [list-style-type:_circle]">
                      <!-- Each -->
                      <% update.newPackages.forEach(pkg => { %>
                        <li><a class="text-blue-500 hover:underline" target="_blank" href="https://npmjs.com/package/<%= pkg.packageName %>"><%= pkg.packageName %></a> - <%= pkg.packageDescription %></li>
                        <% }) %>
                    </ol>
                  </li>
                  <% } %>
              </ul>
            <% }) %>
          </div>
        </div>
      <% }) %>
    </div>
    <footer class="border-t border-gray-600/95">
      <ul class="flex justify-center p-8 text-sm text-gray-600">
        <li
          class="relative inline-block pe-8 text-neutral-400 before:absolute before:end-3 before:top-1/2 before:size-1 before:-translate-y-1/2 before:rounded-full before:bg-neutral-600 last:pe-0 last-of-type:before:hidden">
          Crafted by</li>
        <li
          class="relative inline-block pe-8 text-neutral-400 before:absolute before:end-3 before:top-1/2 before:size-1 before:-translate-y-1/2 before:rounded-full before:bg-neutral-600 last:pe-0 last-of-type:before:hidden">
          Muhammed Munawar U</li>
      </ul>
    </footer>
  </div>

  <%- include('../layout/footer') %>