<%- include("../layout/header") %>
<div class="flex min-h-screen flex-col justify-center px-6 py-12 lg:px-8 bg-neutral-900">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to Dashboard
        </h2>
        <h2 class="mt-1 text-center text-lg font-semibold leading-9 tracking-tight text-gray-200">Controll your
            customers and products</h2>
    </div>

    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6 max-w-sm mx-auto" id="adminLoginForum" method="post" action="/admin/login">
            <% if (typeof redirectUrl != 'undefined') { %>
                <input type="hidden" name="redirect" value="<%= redirectUrl %>">
            <% } %>
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-white">Admin
                    email 
                    <span class="text-red-600 italic">
                        <% if (messages.loginError) { %>
                            <%= messages.loginError %>
                        <% } else { %>
                            *
                        <% } %>
                </span></label>
                <input type="email" id="email"
                    class="shadow-sm text-sm rounded-lg block w-full p-2.5 border-none placeholder-gray-400 focus:outline-none text-white" style="background: rgb(38, 38, 38) !important;"
                    placeholder="name@example.com" required name="email"/>
            </div>
            <div class="mb-5 ni">
                <label for="password" class="block mb-2 text-sm font-medium text-white">Admin
                    password 
                    <span class="text-red-600 italic">
                        <% if (messages.loginError) { %>
                            <%= messages.loginError %>
                        <% } else { %>
                            *
                        <% } %>
                </span></label>
                <input type="password" id="password"
                    class="shadow-sm text-sm rounded-lg block w-full p-2.5 border-none bg-neutral-800 focus:outline-transparent placeholder-gray-400 text-white shadow-sm-light" style="background: rgb(38, 38, 38) !important;"
                    required name="password"/>
            </div>
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
            </div>
        </form>
    </div>
</div>
<%- include("../layout/adminFooter") %>